*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 70px;
    background-color: blueviolet;
    
}
.header h2{
    padding-top: 20px;
    color: white;
    float: left;
    margin-left: 150px;
}
#input-note{
    width: 800px;
    height: 50px;
    font-size: 20px;
    margin-left: 50px;
    background-color: rgb(236, 232, 232);
    border: none;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px
    
}
.name{
    /* background-color: rgb(237, 241, 237); */
    width: 600px;
    /* height: 130px; */
    height: auto;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 3px rgb(231, 229, 229);
    padding: 20px;
    font-size: 20px;
    text-align: justify;
    transition: 1s;
}
#add-button{
    width: 100px;
    height: 45px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(0, 132, 255);
    color: white;
    border: none;
    border-radius: 10px;
}
#search-bar{
    width: 500px;
    height: 40px;
    margin-left: 70px;
    margin-top: 10px;
    border-radius: 20px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
}
.name:hover{
    background-color: black;
    color: white;
}
.name::after{
    content: 'delete';
    width: 100px;
    height: 20px;
    background-color: rgb(0, 132, 255);
    color: yello;
    display: inline-block;
    float: right;
}